<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Confirmation Page</title>
    <link rel="stylesheet" href="../static/css/submit.css">
</head>
<body>
    <div class="message">
        <h1>Thank you for choosing us</h1>
        <p>Have a Great Day.</p>
    </div>
    <br>
    <div class="navigation-buttons">
        <a href="comm">click here for your valuable comments</a>
    </div>
</body>
</html>